

.image {
    width: 317px;
    height: 266px;
    border-radius: 5px;
}
.russo {
    font-family: 'Russo One', sans-serif;
    text-align: center;
}
ul, ol {
    list-style: none;
}
ol > li {
    text-decoration: none;
}
.nav-link {
 font-family: 'Russo One', sans-serif;;
}
.animal {
    list-style: none;
}
.section {
    list-style: none;
}

/* #disclaimer {
    width: 812px;
    color: white;
    font-size: 17px;
    display: flex;   
    flex-flow: row nowrap;
    background-color: #000000;
    padding-right: 218px;
    text-align: center;
} */

/* Global Styles */

#head-container {
    width: 1000px;
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
    border: 1px solid #7B287D;
    padding: 20px 0 20px 20px;
    width: 100%;
    background-color:#7B287D !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    margin: 0 0rem 0rem 0rem;
}
#page-header {
    z-index: 5;
    overflow: hidden;
    padding: 1rem 0 5rem 1rem;
    background-color:#7B287D;
    background-attachment: absolute;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0rem;
    width: auto;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#page-title {
    top: 0;
    position: absolute;
    width: 1022px;
    height: 85px;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
body {   
    width: 1000px;
    margin: auto;
    background-color: #C29520;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 9rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* NAV Bar */

#nav-container {
    font-family: 'Sarala', sans-serif;
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 9rem;
}
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.nav-bar > ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem 0 0;
}
.nav-bar > ul > li > a {
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Russo One', sans-serif; 
    color: #7067CF;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 5px 5px 5px;
    padding: 5px 30px 5px 0;
    text-decoration: none;
    list-style: none;
}

/* Images Section */

#animal-imgs {
    width: 1000px;
    height: 400px;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    border-right: 40px;
    padding-left: 40px;
    margin: 2.5rem 0rem 0rem 0rem;
    border-radius: 25px;
}
#imgs-header {
    background-color: #7B287D;
    border-radius: 5px;
    margin: rem 2rem 2rem 2rem;
    text-align: center;
    top: 0px;
    margin-left: 120px;
    width: 75%;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

/* Info Section */

#info {
    border-radius: 25px;
    background-color: black;
    margin: 2.5rem 0 0 0;
    padding-right: 40px;
    width: 1000px;
    height: 233px;
    color: white;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#info > h6 {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 812px;
    font-size: 20px;
}
.list > h2 {
    font-size: 30px;
    color: #7B287D;
    top: 0px;
    left: 0px;
}
#pricing-wrapper {
    width: 100%;
    height: 52%;
    border-radius: 25px;
    background-color: black;
    margin: 2.5rem 5rem 2.5rem 1rem;
}
#pricing-wrapper > header {
    border-radius: 25px;
    margin: 1rem 0rem 0 0;
    width: 100%;
    height: 30px;
    display: block;
    font-size: 30px;
    color: #7B287D;
}
#pricing {
    display: flex;
    flex-flow: row nowrap;
    margin: 3rem 0rem 0rem 0rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#pricing > .service {
    margin: -2rem 0 0 25rem;
}
#pricing-wrapper > footer {
    width: 100%;
}
#pricing-wrapper > footer > #btn-container {
    margin: 0 0rem 2.5rem 21rem;
}
.service {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border-radius: 3px;
    font-family: 'Russo One', sans-serif; 
    
  }
.service > .level {
    border-radius: 25px;
    background-color: #7067CF;
    color: black;
    margin: -4rem 0 1rem 0;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
.service > ol {
    margin: 0 15rem 0 0;
    padding: 0 5rem 0 0;
    width: 100%;
  }
  
.service > ol > li {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(199, 198, 198, 0.25);

  }
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;    
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    background-color: #DCE0D9;
}
.service > #master-btn {
    background-color: #DCE0D9;
    font-weight: 400;
    height: 40px;
    width: 90px;
  }
#btn-container {
    align-self: center;
    border-radius: 25px;
    margin: 0rem 0rem 2.5rem 0;
}
#btn-container > button:hover {
    background-color: #7067CF;
    transition: background-color 1s;
  }
#master-btn {
    font-family: 'Russo One', sans-serif; 
    align-self: center;
  }
 
  /* About Section */

#about {
    background-color: black;
    margin: 0 5rem 2.5rem 1.15rem;
    border-radius: 25px;
    width: 1000px;
    height: 250px;
}
#about > h2 {
    font-size: 30px;
    color: #7B287D;
    top: 0px;
    left: 0px;
}
#about > p {
    font-size: 13px;
    color: white;
    text-align: center;
}
